.notification-badge {
  font-size: 0.4rem;
  color: white;
  right: -4px;
  top: 6px;
  padding: 0.25rem;
}
.bg-color {
  background-color: darkslategrey;
  height: 170px;
}
.search-bar {
  top: 80px;
}
